@import './base.css';

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(@/assets/material-symbols.woff2) format('woff2');
}

.icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  user-select: none;
  vertical-align: middle;
}

.icon.filled { font-variation-settings: 'FILL' 1; }

.icon { opacity: 0; }
.icon-font-loaded .icon { opacity: inherit; }

.btn {
  flex: 0 0 content;
  display: inline-block;
  cursor: pointer;
  padding: .3rem;
  border-radius: .5rem;
  transition: background-color .1s;
  color: var(--fg2);
}
.btn:hover { background: var(--bg2); }
.btn:active { background: var(--bg3); }
.btn + .btn { margin-left: .1rem; }

.layoutCol { display: flex; overflow: hidden; flex-direction: column; }
.layoutRow { display: flex; overflow: hidden; flex-direction: row; }
.fill { flex: 1 1; }

.v-enter-active, .v-leave-active { transition: opacity 0.5s ease; }
.v-enter-from, .v-leave-to { opacity: 0; }

.spinner {
  color: var(--fg3);
  height: 24px; width: 24px;
  animation: spinner 1.5s infinite linear running;
}
@keyframes spinner {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.app {
  --fg1: #000;
  --fg2: #333;
  --fg3: #999;
  --bg1: #fff;
  --bg2: #f5f5f5;
  --bg3: #eee;
  --br: #ddd;
}

.app.dark {
  color-scheme: dark;
  --fg1: #eee;
  --fg2: #ddd;
  --fg3: #aaa;
  --bg1: #333;
  --bg2: #222;
  --bg3: #111;
  --br: #444;
}

.app { background: var(--bg1); }
.dark .logo { filter: invert(); }

* { scrollbar-color: rgba(127, 127, 127, 0.3) transparent; }

h2 { font-size: 1.3rem; font-weight: 500; color: var(--fg1); }
input { font-family: monospace; }

